* {
    margin: 0;
    padding: 0;



}


.container {
    display: flex;
    background-color: rgb(1, 1, 39);
    color: white;
    

}

.sidebar {
    position: absolute;
    background-color: rgb(1, 1, 90);
    text-align: center;
    width: 100px;
    height: 100vh;
    padding: 0 2.4vw;
    font-family: system-ui;
    transition: transform 0.3s ease-in;


}





.sidebar ul li {
    display: list-item;
    list-style: none;
    padding: 30px 10px;
    font-size: 1.25rem;
    padding-top: 8vh;


}

.sidebar ul li a {
    text-decoration: none;
    color: whitesmoke;
}

.sidebar ul li a:hover {
    color: rgb(159, 182, 202);
}

.container2 {
    display: flex;
    /* background-color: rgb(243, 241, 238); */
    width: 85%;
    justify-content: center;
    margin: 30px 150px;

}

.info {
    /* background-color: rgb(253, 255, 255); */
    padding: 10vw 2vw;
    margin: 2vw 5vw;
    justify-content: center;
    text-align: center;
    font-size: 1rem;
    font-family: monospace;
    align-content: center;
}

.primg {
    justify-content: center;
    justify-content: center;
    margin-top: 2vw;
    align-content: center;
}

.primg img {
    background-color: rgb(1, 1, 49);
    border-radius: 190px;
    border-style: double;
    border-color: rgb(0, 102, 255);
    max-height: 78vh;
    max-width: 74vw;
    min-height: 30vh;
    min-width: 30vw;
    /* position: relative; */
    left: 20px;

}

.button {
    padding: 10px;
}

.button button {
    padding: 5px;
    font-size: 0.9rem;
    background-color: rgb(0, 60, 255);
    color: rgb(240, 233, 233);
    border-radius: 15px;
    border-color: cyan;

}

.button button a {
    text-decoration: none;
    color: rgb(240, 233, 233);
}

.button button a:hover {

    color: rgb(2, 0, 24);
}


.info .name {
    font-size: 3rem;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}

.greet {
    font-size: 1.8rem;
    font-family: monospace;

}

.button button:hover {
    color: rgb(13, 14, 14);
    background-color: rgb(201, 250, 250);
    border-style: dashed;
    border-color: aqua;
}

@media screen and (max-width:1024px) {
    .container2 {
        flex-wrap: wrap;
        margin: 0;
        margin-top: 20vh;
    }

    .info {
        margin: 0;
        padding: 3vw 4vw;
    }


    .primg img {
        max-height: 59vh;
        max-width: 27vh;

    }

    .sidebar {
        width: 120px;
        transition: linear;
        height: 100vh;

    }

    .s2ndimg {
        display: none;
    }

}

.form {
    display: flex;
    background-color: rgb(1, 1, 39);
    color: aliceblue;
    font-family: system-ui;
    width: 95%;

}

.form form {
    /* padding: ; */
    font-size: 1.1rem;
    text-align: left;
    /* align-content: center; */
    margin-left: 5vw;
    display: flex;
    flex-direction: column;


}

.form form div {
    flex-direction: column;

    height: 10vh;
    justify-content: center;
    align-content: center;
    margin: 3vh 0;
}

.form form>div {
    padding: 0;

    padding-bottom: 2vh;
}

.form form label {
    font-weight: 700;
}

.clname {
    /* text-decoration: underline; */
    text-decoration-thickness: 2px;

}

.email {
    display: flex;
    padding-top: 6vh;

}

.note {
    font-size: 0.9rem;
}

.clemail {
    /* text-decoration: underline; */
    text-decoration-thickness: 2.5px;

}

.phone {
    display: flex;
}

.clphno {
    /* text-decoration: underline; */
    text-decoration-thickness: 2.5px;
}

.txtbox {
    width: 100%;
    background-color: rgb(236, 238, 240);
    border-radius: 6.5px;
    padding: 0.8vh 0;
    /* position: relative; */
    top: 3vh;
    bottom: 2vh;
}

.terms {
    font-size: 0.9rem;

}

.terms button {
    padding: 1.1vh 1.5vw;
    border-radius: 14px;
    background-color: rgb(86, 86, 250);
    color: aliceblue;
    border-color: aqua;

}

.terms button:hover {
    background-color: white;
    border-color: cyan;
    color: blue;
}

.s2ndimg {
    display: contents;
    justify-content: center;
}

.s2ndimg img {
    margin: auto;
    height: 100vh;
    border-radius: 300px;
    border-top: 100px;
    background-color: rgb(1, 1, 39);



}

input {
    font-size: 1.008rem;
    text-align: center;
    font-family: system-ui;
    font-weight: 500;
}

@media screen and (max-width:1025px) {

    .s2ndimg {
        display: none;
    }

}

body {
    padding: 0;
    margin: 0;
    display: flex;
    background-color: rgb(1, 1, 39);
    height: fit-content;

}

.blogContainer {
    padding: 0 0;
    margin: 0 0;
    font-size: 1rem;
    color: aliceblue;
}

.blogContainer p {
    color: rgb(94, 103, 110);
}

.blogItem {
    padding: 1.5vh 1vw;

}

.blogContainer h1 {
    padding-bottom: 3vw;
    padding-left: 2vw;
    margin-top: 1vh;
}

.blogItem h2 {
    padding-bottom: 1.5vw;
}

.blogContainer button {
    background-color: rgb(2, 59, 109);
    padding: 3px 5px;
    border-radius: 0.75rem;
    color: aliceblue;
    border-color: aquamarine;
}

@media screen and (max-width:400px) {
    .blogContainer {
        font-size: 0.9rem;
    }
}

/* intro */
.intro {
    color: aliceblue;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.intro .topic h2 {
    margin-left: 5px;
}

.aboutme {
    color: aliceblue;
    padding-bottom: 3%;
}

.aboutme h1 {
    margin-left: 5px;
}

.aboutme p {
    color: rgb(87, 150, 150);
    margin-left: 5px;
}

.intro h1 {
    color: bisque;


}

.topic {
    text-align: left;
}


.skills {
    font-size: 1.1rem;
    padding: 10px;
    text-align: center;

}

.hundred {
    width: 99%;
    background-color: green;
    padding: 10px;
    border-radius: 10px;
    border-style: solid;
    border-color: grey;


}

.fifty {
    width: 50%;
    background-color: aqua;
    padding: 10px;
    border-radius: 10px;
    border-color: grey;
    border-style: solid;
}

.t5 {
    width: 25%;
    background-color: red;
    padding: 10px;
    border-radius: 10px;
    border-style: solid;
    border-color: grey;
}

.ninety {
    width: 90%;
    background-color: greenyellow;
    padding: 10px;
    border-radius: 10px;
    border-style: solid;
    border-color: grey;
}

.skills div {
    margin: 10px 0;
}

.hamb img {
    height: 23px;
    width: 23px;

    border-radius: 5px;
    color: white;
}

.closebtn img {

    height: 19.5px;
    width: 19.5px;
    border-radius: 6px;
    border-color: rgb(4, 95, 97);
    border-style: double;
    border-width: 1.6px;

}

.hamb {
    cursor: pointer;
    left: 0.1vw;
    top: 10px;
    position: relative;
    flex-direction: row;


}

.closebtn {
    cursor: pointer;
    right: -69px;
    top: 12.5px;
    position: relative;
    flex-direction: row;

}

.closebtn img:hover {
    background-color: rgb(25, 31, 105);
}

.hamb img:hover {
    background-color: rgb(23, 66, 66);
}

.main {
    width: 85%;
}

.sidebarGo {
    transform: translate(-400px, 0px);
    position: absolute;
}
.cv{
    
    color:aliceblue;
    text-align: center;
    top:10vh;
    /* padding-top:50% ; */
    margin-left:10%;
    width:90%;
    
}
.cv h1{
   
   padding-top: 35vh;
}

.downloadcv{
    top:10vh;
    padding: 5px;
    font-size: 0.9rem;
    background-color: rgb(0, 60, 255);
    color: rgb(240, 233, 233);
    border-radius: 15px;
    border-color: cyan;

}
.downloadcv a{
    text-decoration: none;
    color: rgb(240, 233, 233);
}
.downloadcv a:hover{
    color: rgb(2, 0, 24);

}
.downloadcv:hover{
    
    color: rgb(13, 14, 14);
    background-color: rgb(201, 250, 250);
    border-style: dashed;
    border-color: aqua;
}
.cvbody{
    display: block;
}
@media screen and (max-width:380px) {
    .blogContainer p {
        font-size: smaller;
    }
    .cv h1{
        font-size: 0.9rem;
    }


}

@media screen and (max-width:805px) {
    .closebtn {
        right: -55px;

    }
    .cv h1{
        font-size: 1.5rem;
    }
}