*{
    margin:0;
    padding:0;
}
body{
    height: 100vh;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
     justify-content: center;
   align-items: center;
    background-color: rgb(245, 242, 238);
  
}
h2{
   
   color:blue;
   margin: 0;
   
}
h3{
    text-align: center;
    padding:1%;
    color: rgb(236, 235, 234);
}
.calcbody{
    background-color:rgb(26, 25, 25);
    height:600px;
    width:350px;
    border-radius: 5%;
    border-color: black;
    border-style: solid;
    display: flex;
    flex-direction: column;
}
#displaybox{
    text-align: end;
    text-shadow: 2px;
    background-color: rgb(32, 31, 31);
    height:140px;
    width:90%;
    margin:4%;
    border-radius:25%;
    border-color: rgb(136, 135, 135);
    border-style: solid;
    border-width: 2px;
    margin-bottom: 0.9rem;
    color: rgb(128, 127, 127);
    font-size: 2.2rem;
    

}

.row{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
    
}
.row .function{
    background:orange;
    color: black;
    font-weight:bolder;
    font-size: 1rem;
}
.button{
    padding:5% 6%;
    margin:4.5% 3%;
    border-radius: 1.4rem;
    background: black;
    color: antiquewhite;
    border-color: rgb(157, 158, 158);
}
.decimal{
    padding:4% 6%;
    font-size: 1.4rem;
}